{% extends "layout.html" %}

{% block title %}Chatroom{% endblock %}
{% block head %}
    <style>
      .chatinput {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
      }

      #chat {
        height: 150px;
        width: 70%;
      }

      #leave {
        position:absolute;
        top:0;
        right:0;
      }
    </style>
    <meta id="createdby" content="{{ createdby }}">
    <meta id="created" content="{{ created }}">
{% endblock %}

{% block main %}
    <h2>This is {{ createdby }}'s chatroom: <span id="chatname">{{ chatname }}</span></h2>
    <form action="/leave" id="leave">
      <input type="submit" value="Leave chat">
    </form>
    <ul id="messages">
      {% for message in history %}
      <li>{{ message['messageby'] }} says: {{ message['message'] }}</li>
      {% endfor %}
    </ul>
    <form class="chatinput" id="chat">
      <input autofocus name="chatbox" id="chatbox" type="text" placeholder="Type message here" autocomplete="off">
      <input type="submit" value="Submit">
    </form>
    <script>
      document.addEventListener('DOMContentLoaded', () => {
        // Connect to websocket
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port);

        socket.on('connect', () => {
          // join chatroom
          socket.emit("join", {"channel": document.getElementById("chatname").textContent, "user": localStorage.getItem("displayname")})

          // remember current channel in local storage
          localStorage.setItem("channel", document.getElementById("chatname").textContent);
          localStorage.setItem("createdby", document.getElementById("createdby").content);
          localStorage.setItem("created", document.getElementById("created").content);

          document.getElementById("chat").addEventListener('submit', (event) => {
            const chat = document.getElementById("chatbox").value;
            socket.emit("submit chat", {'chat':chat, 'room': document.getElementById("chatname").textContent});
            event.preventDefault();
            document.getElementById("chat").reset();
          });
        });

        socket.on('post', (data) => {
          const li = document.createElement("li");
          li.innerHTML = `${data.messageby} says: ${data.message}`;
          document.getElementById('messages').appendChild(li);
        });

        socket.on('join', (data) => {
          const li = document.createElement("li");
          li.innerHTML = data;
          document.getElementById('messages').appendChild(li);
        });

        // leave button
        document.getElementById("leave").addEventListener('submit', (event) => {
          localStorage.removeItem("channel");
          localStorage.removeItem("createdby");
          localStorage.removeItem("created");
          socket.emit("leave")
        });
      });
    </script>
{% endblock %}
